
classifier: [logreg, svm, rf, mlp]        # default classifier [logreg, svm, rf, mlp]
use_scaler: true            # Apply StandardScaler before classifier

param_grids:
  logreg:
    C: [0.001, 0.01, 0.1, 1, 10]
    penalty: ["l1", "l2"]
    class_weight: ["balanced"]
    solver: ["saga"]
    max_iter: [1000, 2000]

  svm:
    C: [0.1, 1, 10]
    kernel: ["linear", "rbf"]
    gamma: ["scale", "auto"]
    class_weight: ["balanced"]

  rf:
    n_estimators: [50, 100, 200]
    max_depth: [5, 10, 20, null]
    min_samples_split: [2, 5]
    min_samples_leaf: [1, 2]
    class_weight: ["balanced"]

  mlp:
    hidden_layer_sizes: [[64], [128], [64, 32]]
    activation: ["relu", "tanh"]
    solver: ["adam"]
    alpha: [0.0001, 0.001, 0.01]
    learning_rate: ["constant", "adaptive"]
    max_iter: [500, 1000]
